.birthday-card {
    margin: 10px;
    overflow: hidden;
}

.card-title {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

@media (min-width: 576px) {
    .birthday-card {
        flex: 0 0 calc(33% - 20px);
        max-width: calc(33% - 20px);
    }
}

.container {
    width: 100%; 
}

.countdown{
    font-size: 20px;
}

body {
    background-color: #272829;
}

h1, h2{
    color: aliceblue; 
    text-align: center; 
    margin: 10px;
}

.search{
    margin-left: 20%;
    margin-right: 20%;
}

.rainbow {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: sans-serif;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #d0dd41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
